{% extends 'base.html.twig' %}




{% block stylesheets %}
  <style>
    h1 {
      color: black;
margin:50px 20% 50px 20%;
    }
    body{
      padding:10%;
      text-align:center;     
      background-color:lightgrey;

    }
    div{
      margin:50px 5% 50px 5%;
    }
   
   
  </style>
{% endblock %}



{% block body %}
  <h1>Upload a File</h1>
  {% if error is defined %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <form method="post" enctype="multipart/form-data" id="upload-form">
    <div class="form-group">
      <label for="input-file">Choose a file:</label>
      <input type="file" id="input-file" name="input-file" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
{% endblock %}

{% block javascripts %}
  <script>
    const form = document.querySelector('#upload-form');
    const inputFile = document.querySelector('#input-file');
    
    form.addEventListener('submit', function(event) {
      const file = inputFile.files[0];
      if (!file) {
        event.preventDefault();
        alert('Please choose a file.');
      }
    });
  </script>
{% endblock %}
